/* Home.css */
.box {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 600px;
    margin: 150px auto;
    padding: 50px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
  }
  
  .input-field,
  .textarea-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .textarea-field {
    height: 100px;
    resize: none;
  }
  
  .generate-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .generate-button:hover {
    background-color: #0056b3;
  }
  
  .link-container {
    margin-top: 20px;
  }
  
  .link-container p {
    font-size: 1rem;
    color: #555;
  }
  
  .link-container a {
    font-size: 1rem;
    color: #007bff;
    word-break: break-all;
  }

 /* Home.css */

.copyBtn {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  overflow: hidden;
}

.copyBtn button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.copyBtn button:hover {
  background-color: #218838;
}

.copyBtn button:active {
  transform: scale(0.95);
}


.hidden{
  display: none;
}
  
  @media (max-width: 600px) {
    .copyBtn button {
      padding: 8px 16px;
      font-size: 0.9rem;
    }

    .header {
      font-size: 1.5rem;
    }
  
    .input-field,
    .textarea-field,
    .generate-button {
      font-size: 0.9rem;
    }
  }
  